<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="static/styles.css" />
    </head>
    <body>
        <h1>Joseph Larson's Page, jlars789</h1>
        <h4>This is a <i>very</i> early work in progress</h4>
        <p>I'm honestly not sure how you even found this, considering I'm in the very early stages of making this</p>
        <p>As some easter egg, I might leave this in as some unstyled html document as a relic from the end of 2022</p>
        <p>Maybe somebody will find it. If so, hello!</p>
        <ul>
            <li><a href=https://github.com/jlars789>My Github</a></li>
        </ul>
        <p>Visits to this site: {{visits}}</p>
    </body>
</html>