<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="static/styles.css?{% now 'U' %}" />
        <div class="topnav">
            <span id="sitename"><b>jlars789</b></span>
            <a href="">!</a>
            <a href="https://www.dropbox.com/s/u38cs3vbvg5p2bh/RESUME.pdf?dl=0">Resume</a>
            <a class="active" href="/employ">Professional</a></li>
            <a href="/">Home</a>
            <a href="/hidden" id="ee"> </a>
        </div>
    </head>
    <body>
        <div class="main">
            <span>This is my professional page, for potential employers/employees. <br /></span>
            <span>Does this look horrible? If so, I'm definitely still working on it. I only put out work that looks good! <br /></span>
            <span>Here are a few important links:</span>
            <ul>
                <li><a href="https://github.com/jlars789">Github</a></li>
                <li><a href="https://www.dropbox.com/s/u38cs3vbvg5p2bh/RESUME.pdf?dl=0">Resume (Dropbox Link)</a></li>
            </ul>
        </div>
    </body>
</html>